:root {
  //Base
  --color-white: #FFFFFF;
  --color-dark: #1F1F1F;
  --color-blue: #3057A2;
  --color-red: #F54932;
  --color-yellow: #FBCE51;

  
  //Bg
  --bg-footer: #E9DED4;
  --bg-ticker: var(--color-red);


  //Buttons
  --btn-primary: var(--color-dark);
  --btn-primary-hover: var(--color-yellow);
  --btn-primary-txt-light: var(--color-white);
  --btn-primary-txt-dark: var(--color-dark);
  --btn-disabled: #D6D6D6;

  --btn-more: var(--color-blue);
  --btn-more-txt: var(--color-white);


  //Typography
  --txt-primary: #313131;
  --txt-secondary: #595653;
  --txt-accent: var(--color-red);
  --txt-blue: var(--color-blue);
}