:root {
  //Контейнер
  --container-width: 1366px;

  //Секции
  --global-padding: 72px;
  --global-padding-tablet: 40px;
  --global-padding-mobile: 20px;

  //Радиусы
  --r-btn: 66px;
  --r-btn-more: 62px;
  
  //Шрифты
  --font-primary: 'Golos Text', sans-serif;
  --font-secondary: 'Merriweather', serif;

  //Транзишены
  --transition-default: 0.2s ease;
}

//Breakpoints
$bp-tablet: 768px;
$bp-mobile: 375px;