:root {
  //Контейнер
  --container-width: 1366px;

  //Секции
  --global-padding: 72px;

  //Радиусы
  --radius-btn: 66px;
  --radius-btn-more: 62px;
  
  //Шрифты
  --font-primary: 'Golos Text', sans-serif;
  --font-secondary: 'Merriweather', serif;

  //Транзишены
  --transition-default: 0.3s ease;
}